<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="productionWS.ProducationWS" value="http://localhost:64835/AlbumProductionWS/ProducationWS.asmx"/>
    <add key="Production.ProducationWS" value="http://localhost:52848/ProducationWS.asmx"/>
  <add key="paymentService.CreditService" value="http://localhost:50578/CreditService.asmx"/>
  </appSettings>
</configuration>